/* Загальні властивості */

body{
 font-weight: bold;
 font-family: 'Arial'; 
 color: #43485A;
 opacity: 0.9;
}

a{
  color: #6A7BD3;
  text-decoration: none;
  font-weight: bold;
 }

a:hover{
 text-decoration: none;
}

h1 {
	text-align: center;
	color: #576BCD;
	margin-top: 70px;
}

h2 {
	text-align: left;
	padding-left: 40px;
}

p {
	text-align: left;
	padding-left: 40px;
}

/* форма логіну */
.container{
 width:450px;
 background-color: #FFFFFF;
 border: 0 solid #1a394f;
 margin: 20px auto 0 auto;
 text-align: center;
 box-shadow: 0 10px 10px rgba(0,0,0,0.25);
 padding-top: 20px;
 padding-bottom: 20px;
 border-radius: 5px;
}

/* для элемента вводу */
input[type="email"],input[type="password"]{
 width: 350px;
 height:50px;
 font-size: 18px;
 margin-bottom: 25px;
 border-radius: 4px;
 padding-left: 10px;
}

.form__field {
  margin-bottom: 5px;
}

.form__error {
  color: red;
  text-align: center;
  font-size: 10px;
  display: block;
  display: none;
}

input:invalid:not(:placeholder-shown) {
  border-color: red;
}
input:invalid:not(:placeholder-shown) + .form__error {
  display: block;
}

/* для елемента Continue */
.dws-submit {
 padding: 13px 150px;
 margin: 5px 0 20px 0;
 font-size: 16px;
 color: #fff;
 background-color: #576BCD;
 border: none;
 border-radius: 5px;
 cursor: pointer;
}


.password {
	list-style: none;
	float: left;
	padding-left: 40px;
	padding-bottom: 10px;
}

.forgot {
	float: right;
	padding-right: 40px;
}

.google {
	margin-bottom: 40px;
	text-align: center;
}

.sign {
	text-align: center;
	margin-top: 30px
}

.checkbox {
  display: block;
  text-align: left;
  padding-left: 40px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  user-select: none;
}

/* для елемента input з type="checkbox" */
.custom-checkbox>input {
      position: absolute;
      z-index: -1;
      opacity: 0;
}

/* для элемента label, пов"язаного з .custom-checkbox */
.custom-checkbox>span {
      display: inline-flex;
      align-items: center;
      user-select: none;
      cursor: pointer;
}

/* створення в label псевдоелемента before з наступними стилями */
.custom-checkbox>span::before {
      content: '';
      display: inline-block;
      width: 15px;
      height: 15px;
      flex-shrink: 0;
      flex-grow: 0;
      border: 1px solid #adb5bd;
      border-radius: 0.25em;
      margin-right: 0.5em;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 75% 75%;
}

/* стилі чекбокса в стані checked */
.custom-checkbox>input:checked+span::before {
  border-color: #565B6B;
  background-color: #225DC1;
  content: '✓';
  font-size: 1.175em;
  color: white;
  line-height: 1;
}



